div{
}

.icons{
  height: 100px;
  width: 100px;
  pointer-events: none;
}

.icons--emoji{
	top:50%;
	left:0;
	right:0;
	margin:0;
	padding:0;
	text-align:center;
	pointer-events: none;
	font-size:700%;
}

.icons--gif{
	pointer-events: none;
	padding: 10px;
}

a#link{
	color: #66BCC0;
}

.active{
	border: 1px black solid;
	border-radius: 7px;
}

body{
	background-image: url('img/rollover.png');
	background-size: cover;
	background-position: center;
}

.bg-color{
	background-color: white !important;
}

#Q2, #Q3{
	padding: 250px 0px 250px 0px;
}

#Q3{
	max-width: 80%;
	transform: translate(20%, 0);
}

h1, h3{
	color: #66BCC0;
}

#img {
	background-image: url('https://picsum.photos/200/300');
	background-position: center;
	background-size: cover;
	height: 15%;

}

.e-container {
	display: block;
	text-align: center;
	margin: 0 auto;
}