div{
}

.icons{
  height: 100px;
  width: 100px;
  pointer-events: none;
}

.e-container {
	display: block;
	text-align: center;
	margin: 0 auto;
	background-color: transparent;
    border: #66BCC0 0px solid;
    border-radius: 15px;
    transition: ease 0.2s;
}

/*like an orange */

.e-container:focus, .e-container:hover {
	background-color: transparent;
    border: #66BCC0 5px solid;
    border-radius: 15px;
    transition: ease 0.2s;
}

.active{
	background-color: transparent;
    border: #66BCC0 5px solid;
    border-radius: 15px;
    transition: ease 0.2s;
    box-shadow: 5px 10px;

}

.icons--emoji{
	top:50%;
	left:0;
	right:0;
	margin:0;
	padding:0;
	text-align:center;
	pointer-events: none;
	font-size:700%;
}

.icons--gif{
	pointer-events: none;
	padding: 10px;
}

a#link{
	color: #66BCC0;
}

.bSubtitle{
	display: inline;

	color: #8f409a;
	font-weight: 600;
}



body{
  background-color: #35B6B7;
	background-size: cover;
	background-position: center;
}

.bg-color{
	background-color: white !important;
}



#Q2, #Q3{
	padding: 50px 0px 150px 0px;
}

#Q3{
	/*max-width: 93%;
	transform: translate(7%, 0);*/
	/* cool reference to how you could center an element using translate - it's modern too! */
}

h1, h3, h2{
	color: #66BCC0;
}

#img {
	background-position: center;
	background-size: cover;
	padding: 0;
	zoom: 50%;
	/*transform: scale(0.5);*/

}

.container{

    transition: ease 0.5s;
    min-height: 100%;
}


